mat-toolbar {
    background: #004a9f;
    color: white;
    height: 5%;
}

class.is-hidden {
    display: none;
}

mat-sidenav {
    display: block;
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: 96%;
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    display: block;
    width: 65%;
}

mat-sidenav-container {
    height: 90%;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 600px) {
    .hide-on-small-screens {
        display: none;
    }

}